---
random: value
---

{{#markdown}}
```html
<!doctype>
<html>
<head>
<title></title>
</head>
</html
```

```js
assert(typeof "foo" === "string")
```

```bash
$ npm i stuff --force
```

```
pseudo code {
  blah stuff();
}
```
{{/markdown}}
