<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <base href="{{ site.happyplan.baseUrl }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.happyplan.baseUrls.styles }}/{{ site.happyplan.assets.main.style }}?{{ site.happyplan.cachebuster }}">
        <link href="feed.xml" rel="alternate" type="application/rss+xml">
    </head>
    <body>
        {{ content }}
        <script src="{{ site.happyplan.baseUrls.scripts }}/{{ site.happyplan.assets.main.script }}?{{ site.happyplan.cachebuster }}"></script>
    </body>
</html>
