// Uncomment if you want to use normalize.css. Do not forget to do: $ bower install normalize.scss
@import "../_bower_components/normalize.scss/_normalize.scss";

@import "compass/css3";

// Uncomment this if you use svg icon with fontcustom
// @font-face {
// 	font-family: "icons";
// 	src: font-url("icons/icons.eot?#iefix") format("embedded-opentype"),
// 		font-url("icons/icons.woff") format("woff"),
// 		font-url("icons/icons.ttf") format("truetype"),
// 		font-url("icons/icons.svg#fontcustom") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @import "icons";

// Global
html,
body {
  font-family: Arial, Helvetica, serif;
  background: #DBDADB;
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color: #414141;
}

a {
  color: #6B8ADD;
  text-decoration: none;

  &.is-active,
  &:active {
    color: #DE3329;
  }
}

code {
  background-color: white;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 6px 10px;
  @include border-radius(3px);
}

.wrapper {
  max-width: 960px;
  margin: auto;
  position: relative;
}

%button {
  @include border-radius(10px);
  background: #D8D8D8;
  color: #414141;
  padding: 5px 10px;
  @include box-shadow(0px 4px 0px 0px #9F9F9F);
}

// Header
header {
  background: #E0E0E0;
  border-bottom: 3px solid #C3C3C3;
  height: 75px;

  h1 {
    margin: 0;
    padding: 0;
    height: 75px;
    line-height: 75px;

    &:before {
      content: '❖';
      color: #DE3329;
      margin-right: 5px;
      font-size: 0.8em;
    }
  }

  nav {
    position: absolute;
    top: 28px;
    right: 120px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      @include inline-block();
    }
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: #414141;
    padding: 0 5px;

    &.is-active,
    &:active {
      color: #DE3329;
    }
  }

  .download {
    @extend %button;
    background: #5280DD;
    color: white;
    @include box-shadow(0 4px 0 0 #365491);
    position: absolute;
    top: 23px;
    right: 0;
  }
}

// Main
.main {
  background: #F5F5F5;
  overflow: hidden;

  h2 {
    font-size: 2.0em;
    text-align: center;
  }

  section {
    margin-bottom: 5em;
  }
}

// Footer
footer {
  background: #DBDADB;
  border-top: 3px solid #C3C3C3;
}