# {{ __warningComment__ }}

sass_dir = "{{ happyPlan.src.assets.styles }}"
css_dir = "{{ happyPlan.dist.assets.styles }}"
images_dir = "{{ happyPlan.src.assets.images }}"
javascripts_dir = "{{ happyPlan.src.assets.scripts }}"
fonts_dir = "{{ happyPlan.src.assets.fonts }}"
http_path = "{{ happyPlan.baseUrl }}"
http_images_path = "{{ happyPlan.baseUrls.images }}"
http_javascripts_path = "{{ happyPlan.baseUrls.scripts }}"
http_fonts_path = "{{ happyPlan.baseUrls.fonts }}"
{{{ require }}}
{{{ additional_import_paths }}}
