# {{ __warningComment__ }}

env: {{ env }}
version: "{{ pkg.version }}"

url: "{{ pkg.url }}"
name: "{{ pkg.name }}"
description: "{{ pkg.description }}"
permalink: "{{ happyPlan.jekyll.permalink }}"
base_url: "{{ happyPlan.baseUrl }}"
base_urls: 
  scripts: "{{ happyPlan.baseUrls.scripts }}"
  styles: "{{ happyPlan.baseUrls.styles }}"
  images: "{{ happyPlan.baseUrls.images }}"
  fonts: "{{ happyPlan.baseUrls.fonts }}"

# if you use apache & the .htaccess conf
#include: ['.htaccess']

# if you want more github like flowered markdown
#markdown: redcarpet
