# {{ __warningComment__ }}

env: {{ env }}
version: "{{ pkg.version }}"

source:      "{{ happyPlan.build.jekyll._ }}"
destination: "{{ happyPlan.build.jekyll.dest }}"
#plugins:     ./_plugins
#layouts:     ./_layouts

url: "{{ pkg.url }}"
name: "{{ pkg.name }}"
description: "{{ pkg.description }}"
permalink: "{{ happyPlan.jekyll.permalink }}"
base_url: "{{ happyPlan.baseUrl }}"
base_urls: 
  scripts: "{{ happyPlan.baseUrls.scripts }}"
  styles: "{{ happyPlan.baseUrls.styles }}"
  images: "{{ happyPlan.baseUrls.images }}"
  fonts: "{{ happyPlan.baseUrls.fonts }}"
assets:
  main:
    style: "{{ happyPlan.assets.main.style }}"
    script: "{{ happyPlan.assets.main.script }}"

# if you use apache & the .htaccess conf
#include: ['.htaccess']

# if you want more github like flowered markdown
#markdown: redcarpet
