---
layout: default.hbs
title: Home
---
<h2>Posts</h2>
<ul class="posts">
{{#posts pages}}
  <li><time datetime="{{ data.date }}" class="time">{{moment data.date format="ddd, DD MMM YYYY HH:mm:ss ZZ" }}</time> <a href="{{url this.dest}}" class="title">{{ data.title }}</a>
{{/posts}}
</ul>
