// Comment if you don't want to use normalize.css. Do not forget to do: $ bower install normalize.scss
@import "../components/normalize.scss/_normalize.scss";
@import "_fontcustom";

//@import "compass/css3"; // don't import all compass in one shot, (i said that for your perf)

// Uncomment this if you use svg icon with fontcustom
// @font-face {
// 	font-family: "icons";
// 	src: font-url("icons/icons.eot?#iefix") format("embedded-opentype"),
// 		font-url("icons/icons.woff") format("woff"),
// 		font-url("icons/icons.ttf") format("truetype"),
// 		font-url("icons/icons.svg#fontcustom") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @import "font-icons";
